:root {
    /* Colors */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #282c34;
    --color-bg: #04152d;

    /* Font */
    --font-space: "Space-grotesk";
    --font-man: "Manrope";
}